background-size: auto|length|cover|contain|initial|inherit;


home { 
  background: url(https://raw.githubusercontent.com/joja4479/joja4479.github.io/refs/heads/main/assets/img/green-natural-background-with-trees-and-wooden-foundation-free-image.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
